body{
    border:2px solid black;
    width: 85%;
    max-width: 1350px;
    margin: 0 auto;
}
header{
    background:linear-gradient(to bottom, rgba(7, 2, 17, 1), transparent),  url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    border: 2px solid red;
    width: 100%;
   max-width: 1350px;
    height: 500px;
    margin-top: 30px;
    border-radius: 10px;
    
}
.banner
{
    
    margin-top: 150px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size:larger;
    font-weight: 800;
    

    
}
.section-01{
    border: 2px solid blue;
    max-width: 800px;
    max-height: 700px;
    margin: 100px auto;
    text-align: center;
    font-size: x-large;
    
} 
.image-new-year{
    width: 550px;
    height: 300px;
}
.section-02{
     border: 2px solid red;
    width: 100%;
   max-width: 1350px;
    height: 500px;
    margin-top: 30px;
    border-radius: 10px;
    background:linear-gradient(to right, rgba(7, 2, 17, 1), transparent), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 120px;
    }
    .section-03{
         width: 100%;
   max-width: 1350px;
    height: 350px;
    margin-top: 80px;
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
    background: linear-gradient(to bottom,rgba(246, 199, 199, 0.866), transparent);
    
    }
   .banner-03{
    padding-top: 30px;
    padding-bottom: 30px;
   }

   .btn{
    background-color: #FF0000;
    height: 40px;
    width: 90px;
    color: white;
    border-radius: 5px;
    border: none;
   }
   .section-04{
    border: 2px solid red;
     width: 100%;
   max-width: 1350px;
    height: 350px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .circle-image{
    border-radius: 50%;
    border: 10px solid red;
    width: 300px;
    height: 300px;
    padding: 10px;
   }